#selfie {
    width: 200px;
    height: 200px;
    float: left;
    margin: 3% 3% 2% 0;
  }


body {
    background-color: rgb(115, 124, 133);
}

.main {
    background-color: snow;
}

#spacing {
    margin-top:3%;
}

.spacing{
    margin-bottom: 1%;
}