#selfie {
    width: 200px;
    height: 200px;
    float: left;
    margin: 3% 3% 2% 0;
  }

.img1 { flex: 1.3344; }
.img2 { flex: 1.3345; }
.img3 { flex: 0.7505; }
.img4 { flex: 1.5023; }
.img5 { flex: 0.75; }

body {
    background-color: rgb(104, 191, 241);
}

.main {
    background-color: snow;
}

#spacing {
    margin-top:3%;
}

.spacing{
    margin-bottom: 1%;
}

img {
    max-width: 100%;
    max-height: 100%;
}